#global {
	height: 100%;
	position: static;
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/global.png", sizingMethod="scale")
}
#backgroundH1 {
	background: none;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="img/backgroundH1.png", filter:alpha(opacity=50), sizingMethod="scale");
	}

#content {
  display: inline
}
#center {
	overflow: visible;
	height: 1%
}
a {
	position: relative
}
body {
	position: relative
}
#content, #sidebar {
	margin-top: 15px
}
#logoBouteille {
	float: right;
	margin-right: 50px
}